{%- comment -%}
  Renders the country picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}

{%- liquid
  assign currencies = localization.available_countries | map: 'currency' | map: 'iso_code' | uniq
  assign popular_countries = localization.available_countries | where: 'popular?' | sort: 'name'

  assign show_country_filter = false
  if localization.available_countries.size > 9
    assign show_country_filter = true
  endif

  assign show_popular_countries = false
  if localization.available_countries.size > 9 and popular_countries.size > 1
    assign show_popular_countries = true
  endif

  assign show_currencies = false
  if currencies.size > 1
    assign show_currencies = true
  endif
%}

<div class="disclosure">
  <button
    type="button"
    class="disclosure__button localization-form__select localization-selector link link--text caption-large"
    aria-expanded="false"
    aria-controls="{{ localPosition }}-country-results"
    aria-describedby="{{ localPosition }}Label"
  >
    <svg viewBox="0 0 100 100" aria-hidden="true" focusable="false" class="icon">
      <path fill="#000" fill-rule="evenodd" d="M51.939 91.4758C51.4613 91.4919 50.9816 91.5 50.5 91.5C50.275 91.5 50.0504 91.4982 49.8262 91.4947C43.6748 84.9588 39.0998 77.176 36.3514 68.75H65.6132C62.8053 77.184 58.1632 84.9624 51.939 91.4758ZM63.0667 89.5877C73.835 86.2155 82.7377 78.6242 87.8386 68.75H73.3125C71.1194 76.2156 67.6599 83.2698 63.0667 89.5877ZM75.0627 61.25H90.8343C91.9186 57.5213 92.5 53.5786 92.5 49.5C92.5 45.7842 92.0175 42.1811 91.1116 38.75H75.2297C75.7925 42.283 76.0802 45.8767 76.0802 49.5C76.0802 53.4658 75.7355 57.396 75.0627 61.25ZM67.7771 38.75H34.367C33.694 42.3854 33.3485 46.1001 33.3485 49.851C33.3485 53.7045 33.7131 57.5197 34.423 61.25H67.5894C68.3438 57.4082 68.7317 53.4744 68.7317 49.5C68.7317 45.8697 68.4081 42.2733 67.7771 38.75ZM65.9365 31.25H36.255C39.0906 22.4029 43.9358 14.2545 50.5028 7.5C50.9835 7.50003 51.4623 7.50814 51.939 7.52419C58.4084 14.2942 63.1687 22.4309 65.9365 31.25ZM73.598 31.25H88.3384C83.3321 20.8892 74.1957 12.8975 63.0667 9.41232C67.8645 16.0116 71.4253 23.4142 73.598 31.25ZM28.6656 68.75C30.8487 76.3313 34.3353 83.4949 38.9872 89.9025C27.7467 86.7056 18.4278 78.9445 13.1614 68.75H28.6656ZM26 49.851C26 46.1076 26.3071 42.3958 26.9074 38.75H9.88836C8.98253 42.1811 8.5 45.7842 8.5 49.5C8.5 53.5786 9.08135 57.5213 10.1657 61.25H26.9571C26.3241 57.5085 26 53.6965 26 49.851ZM28.5806 31.25C30.8566 23.2084 34.5972 15.6304 39.6381 8.91806C27.7397 12.0946 17.9213 20.3648 12.6616 31.25H28.5806ZM100 49.5C100 76.8381 77.8381 99 50.5 99C23.1619 99 1 76.8381 1 49.5C1 22.1619 23.1619 0 50.5 0C77.8381 0 100 22.1619 100 49.5Z" clip-rule="evenodd"></path>
    </svg>
    {% comment %} <span>
      {{- localization.country.name }} |
      {{ localization.country.currency.iso_code }}
      {{ localization.country.currency.symbol -}}
    </span> {% endcomment %}
    {{ 'icon-caret.svg' | inline_asset_content }}
  </button>
  <div class="disclosure__list-wrapper country-selector" hidden>
    <div class="country-filter{% unless show_country_filter %} country-filter--no-padding{% endunless %}">
      {% if show_country_filter %}
        <div class="field">
          <input
            class="country-filter__input field__input"
            id="country-filter-input"
            type="search"
            name="country_filter"
            value=""
            placeholder="{{ 'localization.search' | t }}"
            role="combobox"
            aria-owns="country-results"
            aria-controls="country-results"
            aria-haspopup="listbox"
            aria-autocomplete="list"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          >
          <label class="field__label" for="country-filter-input">{{ 'localization.search' | t }}</label>
          <button
            type="reset"
            class="country-filter__reset-button field__button hidden"
            aria-label="{{ 'general.search.reset' | t }}"
          >
            {{- 'icon-reset.svg' | inline_asset_content -}}
          </button>
          <div class="country-filter__search-icon field__button motion-reduce">
            {{- 'icon-search.svg' | inline_asset_content -}}
          </div>
        </div>
      {% endif %}
      <button
        class="country-selector__close-button button--small link"
        type="button"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        {{- 'icon-close.svg' | inline_asset_content -}}
      </button>
    </div>
    <div id="sr-country-search-results" class="visually-hidden" aria-live="polite"></div>
    <div
      class="disclosure__list country-selector__list{% if show_currencies %} country-selector__list--with-multiple-currencies{% endif %}"
      id="{{ localPosition }}-country-results"
    >
      {% if show_popular_countries %}
        <ul
          role="list"
          class="list-unstyled popular-countries"
          aria-label="{{ 'localization.popular_countries_regions' | t }}"
        >
          {%- for country in popular_countries -%}
            <li class="disclosure__item" tabindex="-1">
              <a
                class="link link--text disclosure__link caption-large focus-inset"
                href="#"
                {% if country.iso_code == localization.country.iso_code %}
                  aria-current="true"
                {% endif %}
                data-value="{{ country.iso_code }}"
                id="{{ country.name }}"
              >
                <span
                  {% if country.iso_code != localization.country.iso_code %}
                    class="visibility-hidden"
                  {% endif %}
                >
                  {{- 'icon-checkmark.svg' | inline_asset_content -}}
                </span>
                <span class="country">{{- country.name }}</span>
                <span class="localization-form__currency motion-reduce{% unless show_currencies %} hidden{% endunless %}">
                  {{ country.currency.iso_code }}
                  {{ country.currency.symbol -}}
                </span>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {% endif %}
      <ul role="list" class="list-unstyled countries">
        {%- for country in localization.available_countries -%}
          <li class="disclosure__item" tabindex="-1">
            <a
              class="link link--text disclosure__link caption-large focus-inset"
              href="#"
              {% if country.iso_code == localization.country.iso_code %}
                aria-current="true"
              {% endif %}
              data-value="{{ country.iso_code }}"
              id="{{ country.name }}"
            >
              <span
                {% if country.iso_code != localization.country.iso_code %}
                  class="visibility-hidden"
                {% endif %}
              >
                {{- 'icon-checkmark.svg' | inline_asset_content -}}
              </span>
              <span class="country">{{- country.name }}</span>
              <span class="localization-form__currency motion-reduce{% unless show_currencies %} hidden{% endunless %}">
                {{ country.currency.iso_code }}
                {{ country.currency.symbol -}}
              </span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
  <div class="country-selector__overlay"></div>
</div>
<input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
